.traveler-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .rides-list-container {
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .submitBtn{
    margin-top: 5px;
  }

  .addBtn{
    background: gray;
    margin: 3px 0px;
    border-radius: 5px  ;
  }